:root {
  --secondary-50: #fffcf5;
  --neutral-50: #f7f7f8;
  --primary-100: #D6E0FF;
  --neutral-200: #d4d4d8;
  --secondary-200: #FFF3CD;
  --neutral-300: #a9aab1;
  --secondary-300: #ffe69c;
  --neutral-400: #a9aab1;
  --neutral-500: #72727e;
  --primary-500: #112971;
  --secondary-500: #ffc107;
  --neutral-700: #797a7b;
  --neutral-800: #1d1d20;
  --neutral-900: #060718;
  --primary-900: #00081f;
  --secondary-900: #0C0900;
  --landing-background-color: #030303;
  --navbar-color: #000000;
  --vivid-blue: #3155f5;

  --screen-xs: 400px;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;
  --screen-xxl: 1400px;

  --toolbar-height: 84px;
}

/*
Mixins for font attributes.
*/

.subheading-regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.subheading-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.subheading-medium-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.subheading-medium-regular {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.h1-small-bold {
  font-weight: 700;
  font-size: 39px;
  line-height: 47px;
}

.h1-small-semi-bold {
  font-weight: 600;
  font-size: 39px;
  line-height: 47px;
}

.h1-semi-bold {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}

.h1-bold {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.h1-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.h2-semi-bold {
  font-weight: 600;
  font-size: 39px;
  line-height: 47px;
}

.h3-bold {
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
}

.h3-semi-bold {
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
}

.h4-bold {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
}

.h4-semi-bold {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

.h5-semi-bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.h6-semi-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.p1-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.p1-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.p2-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.p2-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.p3-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.p3-semi-bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.p3-regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.nav-semi-bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.p-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.p-footer-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.caption-regular-uppercase {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.caption-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}


.section-dark {
  background-color: var(--primary-900);
  color: var(--neutral-50); 
}

.section-light {
  background-color: var(--secondary-50);
  color: var(--neutral-900);
}

.section-grey {
  background-color: var(--neutral-500);
  color: var(--secondary-50);
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px; /* Adjust max-width as needed */
  padding: 0 20px; /* Adjust padding as needed */
}

@media (min-width: 768px) {
  .section-content {
    max-width: 720px; 
  }
}

@media (min-width: 992px) {
  .section-content {
    max-width: 960px; 
  }
}

@media (min-width: 1200px) {
  .section-content {
    max-width: 1140px; 
  }
}
